<!doctype html>

<html>
<!-- <head> tag contains metadata, styling links and the title.
TITLE needs to be changed to whatever our site is actually called -->
<head>
  <title>Powercat Prices</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="./bootstrap-4.0.0-alpha.6-dist/css/bootstrap.css"/>
</head>


<!-- body will hold all of the stuff in our main page -->
<body>

  <!-- everything within the "header-container" will be at the top of the page so that will
  have our logo, navgation bar etc. -->
  <div id="header-container">
    <div class="jumbotron">
      <img class="img-fluid" src="\images\pp.png" alt="Banner" width="500px">
      <p id ="subheader-font">Providing Deals & Discounts to Students on a Budget in the Manhattan, KS Community!</p>
    </div>
    <nav class="navbar navbar-fixed-top navbar-toggleable-md navbar-light bg-light">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand">About</a>
      <div class="collapse navbar-collapse pull-right" id="navbarNav">
        <ul class="navbar-nav mr-auto navbar-right">
          <li class="nav-item"><a href="eats&treats" class="nav-link">Eats & Treats</a></li>
          <li class="nav-item"><a href="cheers&beers" class="nav-link">Cheers & Beers</a></li>
          <li class="nav-item"><a href="treatyoself" class="nav-link">Treat Yo Self</a></li>
          <li class="nav-item"><a href="submitadeal" class="nav-link">Submit a Deal</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <blockquote class="blockquote text-center">
    <div class="display-4 text-center">About us!</div>
    <p class="mb-0">College students are often tight on money as they pay to complete their degree. Whether it’s food, clothing, or entertainment--students are always seeking a deal to save money. Powercat Prices offers a one-stop shop for Manhattan-area college students to browse and utilize in order to get the best bang for their buck!</p>
  </div>
